<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>{{ uri }}</title>
<link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body class="markdown">
<h1>{{ uri }}</h1>
<ul id="list">
{% for name in content['dirs'] %}
<li><a href="{{ path }}{{ name }}/">{{ name }}</li></a>
{% endfor %}
{% for name in content['files'] %}
<li><a href="{{ path }}{{ name }}">{{ name }}</li></a>
{% endfor %}
</ul>
</body>
</html>
